.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Espaciado más cómodo */
    color: #ffffff;
    height: 20px;

    
}

.project-header h1 {
    font-size: 24px;
    cursor: pointer;
    margin: 0 50px;
}

.project-header .menu-button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    margin-right: 20px; /* Espaciado cómodo */
}

.project-header .menu-button:hover {
    color: #cccccc; /* Efecto hover */
}

.project-header input {
    border: none; /* Elimina el borde */
    background: transparent; /* Fondo transparente */
    color: inherit; /* Usa el color del texto del contenedor */
    width: 100%; /* Asegura que ocupe todo el espacio disponible */
    font-size: inherit; /* Hereda el tamaño de fuente del contenedor */
    font-family: inherit; /* Hereda la fuente del contenedor */
    outline: none; /* Elimina el borde azul al enfocar */
    padding: 0; /* Elimina el relleno */
}