.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #666;
    padding: 5px 10px;
    cursor: pointer;
    height: 15px;
    margin: 0 10px;
}

.task-item span {
    flex: 1;
    color: #ddd;
}

.task-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.task-item-edit,
.task-item-delete {
    color: #888;
    cursor: pointer;
    font-size: 10px;
}

.task-item-edit:hover,
.task-item-delete:hover {
    color: #fff;
}

.task-text {
    flex-grow: 1;
    cursor: pointer;
}

.task-item input {
    border: none; /* Elimina el borde */
    background: transparent; /* Fondo transparente */
    color: inherit; /* Usa el color del texto del contenedor */
    width: 100%; /* Asegura que ocupe todo el espacio disponible */
    font-size: inherit; /* Hereda el tamaño de fuente del contenedor */
    font-family: inherit; /* Hereda la fuente del contenedor */
    outline: none; /* Elimina el borde azul al enfocar */
    padding: 0; /* Elimina el relleno */
}

.task-item.completed .task-item-placeholder {
    text-decoration: line-through;
    color: #aaa; /* Color desvanecido para indicar completado */
}

.task-item-placeholder {
    cursor: pointer; /* Indica que es interactivo */
}